.form {
	margin: 50px auto;
	width: 70%;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
	}
	
	label {
	display: inline-block;
	width: 500px;
	}
	
	input[type="text"], input[type="tel"], select, textarea {
	width: 100%;
	padding: 8px;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin-bottom: 16px;
	font-size: 16px;
	}
	
	input[type="submit"] {
	background-color: #4c77af;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 12px 20px;
	cursor: pointer;
	font-size: 16px;
	}
	
	input[type="submit"]:hover {
	background-color: #3e8e41;
	}
	
	textarea {
	resize: vertical;
	}
	
	.error {
	color: rgb(13, 0, 255);
	font-size: 14px;
	}
	
	button{
	background-color: #529edb;
	border: none;
	color: white;
	padding: 12px 28px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	}
	
	button:hover {
	background-color: #3e8e41;
	}
	
	button {
		display: block;
		margin: 0 auto;
		}
.video{
	margin-left: 600px;
	margin-top:0px;
}